<body>
<div>
    <div>
        <div style="float: left; width: 600px; margin-left: 50px; margin-top: 50px;">
            <img src="../images/medicine.jpg" alt="med" width="600" height="400">
            
        </div>
        <div style="float:right; width: 600px; text-align: center;margin: 50px;margin-top: 150px;">
            <p>Înființat în 2010, în Dorohoi, centrul medical MedyLife Clinic și-a început activitatea doar în domeniul analizelor medicale, având doar 5 angajați la momentul respectiv.
            </p> 
             <p>Odată cu trecerea anilor, în 2015 centrul nostru medical își deschide porțile și în domeniul consultațiilor de specialitate, mărindu-și efectivul de personal.
            </p>
        </div>
        
    </div>
   <div>
    <div style="float: left; width: 500px;margin-left: 50px; margin-top: 100px; text-align: center;">
        <p>
         Realizăm o gamă de peste 130 de tipuri de analize medicale și dispunem de o rețea de cabinete de specialitate, prin intermediul cărora fiecare caz este tratat cu maximum de eficiență și seriozitate.
         </p>
    </div>
    <div style="float: right; width: 600px; margin-top: 20px;">
     <img src="../images/analize_sange.jpg" alt="blood" width="600" height="400">
    </div>
   </div>
</div>
</body>