<form action="/verificare-autentificare" method="POST">
    <label>CNP:</label>
    <input type="text" name="CNP">
    <br>
    <label>Parola:</label>
    <input type="password" name="parola">
    <br>
    <br>
    <input type="submit" value="Autentificare">
</form>