<div>
    <p>Adresa: Mun. Dorohoi, Str. Spiru Haret 1</p>
    <p>Telefon: 0231601023</p>
    <p>Email: contact@medylife.com</p>
    <p>Program de lucru:</p>
    <table>
        <tr>
            <th>Ziua</th>
            <th>Interval orar</th>
        </tr>
        <tr>
            <td>Luni</td>
            <td>07:30-16:00</td>
        </tr>
        <tr>
            <td>Marți</td>
            <td>07:30-16:00</td>
        </tr>
        <tr>
            <td>Miercuri</td>
            <td>07:30-16:00</td>
        </tr>
        <tr>
            <td>Joi</td>
            <td>07:30-16:00</td>
        </tr>
        <tr>
            <td>Vineri</td>
            <td>07:30-16:00</td>
        </tr>
        <tr>
            <td>Sâmbătă</td>
            <td>09:00-14:00</td>
        </tr>
        <tr>
            <td>Duminică</td>
            <td>Închis</td>
        </tr>
    </table>
</div>